{% extends "moderka/layout.twig" %}
{% block title %}Альбомы{% endblock %}
{% block albums %}active{% endblock %}

{% block content %}
    <h1>Редактирование альбома</h1>
    <hr>
    <form action="/moderka/albums/{{ album.id }}/edit" method="post">
        <div class="form-group row">
            <div class="col-md-3">
                <label for="name">Название</label>
                <input type="text" class="form-control" name="name" value="{{ album.name }}" id="name" required>
            </div>
            <div class="col-md-3">
                <label for="description">Описание</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="5">{{ album.description }}</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
    <hr>
    <h2>Фотографии</h2>
    <form action="/moderka/album/{{ album.id }}/add-photo" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <div class="col-12">
                <label for="photo" class="custom-file">
                    Выберите изображение
                    <input type="file" class="form-control" multiple="multiple" name="photos[]" id="photo" accept=".png,.jpg,.jpeg" multiple>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
    <hr>
    {% for index, photo in album.photos %}
        <div class="photo img-thumbnail">
            <img src="/uploads/albums/{{ photo }}" class="img-thumbnail">
            <br><br>
            <div class="text-center">
                <a href="/moderka/albums/{{ album.id }}/delete-photo/{{ index }}" class="btn btn-danger" role="button">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    {% endfor %}

    <style>
        .img-thumbnail {
            max-width: 200px;
            width: 100%;
        }

        .photo {
            float: left;
            margin: 5px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $(".img-thumbnail").sortable();
        });
    </script>
{% endblock %}

