{% extends "app.twig" %}
{% block title %}Новости{% endblock %}
{% block content %}
    <div class="news-page">
        <div class="gradient">
            <div class="neon-line"><span>Новости</span></div>
        </div>
        <div class="gradient content">
            {% for news in list %}
                <div class="last-news text-info color-yellow">
                    <div class="last-news text-info color-yellow">
                        <h1>{{ news.title }}</h1>
                        {% if news.image %}
                            <a href="{{ news.url }}">
                                <img src="/uploads/news/{{ news.image }}" alt="">
                            </a>
                        {% endif %}
                        <div class="intro-text">{{ news.text|raw }}</div>
                    </div>
                    <a href="{{ news.url }}" class="btn color-yellow last-news__link">Подробней</a>
                </div>
                {% if not loop.last %}
                    <div class="neon-line"></div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="yellow-block">
            <a href="/" class="btn" style="border: 2px solid #352c86;padding: 20px">Назад</a>
        </div>
    </div>
{% endblock %}