{% extends "app.twig" %}
{% block title%}{{ news.title }}{% endblock %}
{% block content %}
    <div class="news-page">
        <div class="gradient">
            <div class="neon-line"><span>Новости</span></div>
        </div>
        <div class="gradient content">
            <div class="last-news text-info color-yellow">
                <h1>{{ news.title }}</h1>
                {% if news.image %}
                    <a href="{{ news.url }}">
                        <img src="/uploads/news/{{ news.image }}" alt="">
                    </a>
                {% endif %}
                <div class="intro-text">{{ news.text|raw }}</div>
            </div>
        </div>

        <div class="yellow-block">
            <a href="/albums" class="btn" style="border: 2px solid #352c86;padding: 20px">Назад</a>
        </div>
    </div>
{% endblock %}